
/** {
    border-style: solid;
    border-color: red;
}*/


html {
height: 100%;
width: 100%;
}

body {
    height: 100%;
    width: 100%;
    /*display: block;*/
    background-color: #c28242;
    font-size: 24pt;
}
@media screen and (max-width: 999px) {
  body {
    font-size: 12pt;
  }
}
#map-box {
    height: 100%;
    width: 100%;
}
#api-slide {
    position: absolute;
    background-color: #101010;
    color: #efefef;
    font-size: 3em;
    opacity: 0.8;
    z-index: 101;
    height: 66%;
    padding: 2%;
}
.over-lay {
    position: absolute;
    z-index: 99;
}
.under-lay {
    position: absolute;
    z-index: 1;
}
#map-div {
    width: 100%;
    height: 100%;
    color: #a0a0a0;
}
#spot-list {
    margin-left: 3px;
}
li.spot {
    height: 5%; /*80px;*/
    font-size: 3em;
    color: #ff1f00;
    margin: 2px;
}
#selector {
    height: 8%;
    padding-left: 5%;
    display: block;
    position: absolute;

    bottom: 0;
}
#filter-slot {
    width: 60%;
    height: 80%;
    font-size: 3em;
    border-radius: 3%;
}
#filter-button {
    width: 36%;
    height: 80%;
    background-color: red;
    font-size: 3em;
    border-radius: 10%;
}


/*}*/ /* max-549*/