#styles.css{}
/*<style type="text/css">
*/

* {
    border-style: solid;
    border-color: red;
    /*#287EC7;*/
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map-div {
    height: 100%;
}
/*</style>
*/

body {
    background-color: #828282;
}

.station-title {
    display: inline-block;
    color: #406090;
    font-size: 5em;
    margin: 1% 5%;
    width: 66%;
}
#burger {
   /* height: 8%;*/
    width: 6%;
    float: right;
    margin: 3%;
}

#opt-list {
}

li.option {
    color: #4c401c;
    font-size: 3.5em;
    padding: 5%;
    padding-left: 15%;
    margin: 5% 10%;
    background-color: #a09080;
    /* #871212;*/
    border-radius: 5%;
}
#map-box {
    width:100%;
    height: 80%;
}
#map-div {
    width: 100%;
    height: 100%;
    color: #a0a0a0;
    background-color: #010101;
    outline: 2px solid;
    outline-color: #e0a030;
}

#burger {

}

#spot-list {
    margin-left: 3px;
}
li.spot {
    height: 80px;
    font-size: 2.5em;
    color: orange;
}
#selector {
    height: 8%;
    padding-left: 5%;
    display: block;
}
#filter-slot {
    width: 60%;
    height: 80%;
    font-size: 48pt;
    border-radius: 3%;
}
#filter-button {
    width: 24%;
    height: 80%;
    background-color: red;
    font-size: 3em;
    border-radius: 10%;
}
#aster {
    font-size: 4em;
}
/* green bg red button yellow text */
/*body {
    background-color: #278027;
}

.station-title {
    color: #202090;
    font-size: 5em;
    margin: 1% 5%;
}

.option {
    color: #e7c747;
    font-size: 3em;
    padding: 5%;
    margin: 5% 10%;
    background-color: #c01010;
    /* #871212;
    border-radius: 5%;
}

#map-div {
    margin: 10%;
    height: 100px;
    color: #a0a0a0;
    background-color: #010101;
}*/